.first-div{
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    
    /* margin-left: 100px; */
    padding: 2% 4%; /* Use fluid padding to control spacing */
}

.second-div {
  width: 90%; /* Use a flexible width */
  max-width: 900px; /* To prevent it from getting too wide on large screens */
}
/* .footer-icons{
    
    width: 12%;
    display: flex;
    justify-content: space-between;
   
    margin-left: 20px;
    color: #fff;
} */

.footer-icons {
  width: 100%; /* Make the icon container responsive */
  display: flex;
  justify-content: space-between;
  max-width: 200px; /* Set a max-width to keep icons grouped */
  color: #fff;
  margin-left: 0; /* Remove fixed margin */
  margin-bottom: 20px;
}
.footer-data{
    display: flex;
    justify-content: space-between;
}
.footer-data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
    /* background-color: blue; */
}
.footer-data ul li{
    cursor: pointer;

}
.service-code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 20%;
    margin: 10px 0;
    cursor: pointer;
}
.copy-wright{
    font-size: 12px;
    margin-bottom: 10px;
}


/* Media query for small screens */
@media (max-width: 768px) {
  .footer-data {
    flex-direction: column; /* Stacks the footer links vertically */
    align-items: center;
  }

  .footer-data ul {
    height: auto;
    margin-bottom: 20px;
    align-items: center;
  }

  .footer-icons {
    justify-content: space-around;
  }
}